################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConFPS/.vs/ConFPS/v17/Browse.VC.opendb
